<footer class="footer footer-sticky mt-auto py-3 bg-light">
    <div class="container d-flex justify-content-between align-items-center">
        <img src="/images/pro-invest-logo.png" class="logo" />
        <div class="d-flex flex-column align-items-start">
            <p class="mb-2"><a href="#" class="text-decoration-none pi-color">Mentions légales</a></p>
            <p><a href="#" class="text-decoration-none pi-color">CGU</a></p>                  
        </div>
    </div>
</footer>