{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}

<h1>Modifier l'utilisateur {{ user.firstname|lower|capitalize ~ ' ' ~ user.lastname|upper }}</h1>
<turbo-frame id="user-list">

    {{ include('user/user-form.html.twig') }}

</turbo-frame>
{% endblock %}
